{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}
	<div class="container col-sm-4 col-md-10">
		<h1>Votre Panier</h1>
		{% if items | length > 0  %}
			<table class="table p2">
				<thead class="table-dark">
					<tr>
						<th>nom</th>
						<th>Prix</th>
						<th>Quantité</th>
						<th>Total</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for item in items %}
						{% if  item.quantité != 0 %}
							<tr>
								<td>{{ item.produit.name}}</td>
								<td>{{ (item.produit.prix)/ 100}}</td>
								<td>{{ item.quantité}}</td>
								<td>{{item.quantité * ((item.produit.prix)/ 100 ) }}</td>
								<td>
									<a class="delete" href=" {{ path('cart_delete', {id: item.produit.id})}} ">
										<button class="btn btn-danger" style="margin: 1.2rem;" type="submit">
											<i class="fas fa-trash-alt"></i>
										</button>
									</a>
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3" style="text-align: right;">
							Total:
						</td>
						<td>
							{{total / 100}}
						</td>
						<td></td>
					</tr>
				</tfoot>
			</table>
			<div class="d-flex justify-content-end">
				<button class="btn btn-success m-5" id="confirm-command">Passer la commande</button>
			</div>
		{% else %}
			<p>Votre panier est vide</p>
		{% endif %}
	</div>
{% endblock %}
