{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}


	<main class="container mt-5">
		<div class="presentation">
			<h2>Laurent, 47 ans, Photographe...</h2>
			<p>C’est depuis toujours que j’ai eu dans les mains un appareil photo. Autodidacte, sportif et musicien , j’allie le tout pour pouvoir proposer aujourd’hui mes services dans les domaines les plus divers avec un œil artistique , qui ne pourra pas vous laisser insensible .
																												
																															J’ai monté mon propre studio photo a deux pas de bordeaux pour m’exprimer plus encore , des idées fourmillent , il faut bien laisser sortir tout ça !
																												
																															De l’escalade au surf , en passant par les concerts ou les spectacles en tout genre
																												
																															De vos soirées privées a votre mariage en passant par vos portraits famille ou votre entreprise .
			</p>
		</div>
		<hr>
		<section class="row align-self-center text-center">
			<h1>Sublimez les précieux moments de votre vie</h1>
			<div class="col-md-10 m-auto my-5">
				<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>

					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">

							<img src="{{ asset('build/images/manon2.jpg') }}" class="carousel-img d-block w-100 h-50" alt="Portrait Manon" >
							<div class="carousel-caption  d-md-block">
								<h5 style="color: white;">Portraits</h5>
								<a class="btn btn-primary" href="{{path('app_portraits')}}" role="button">Voir</a>
							</div>
						</div>

						<div class="carousel-item ">
							<img src="{{ asset('build/images/heart-g04447ed14_1920.jpg')}}" class=" carousel-img d-block w-100" alt="coeur">

							<div class="carousel-caption d-md-block">
								<h5 style="color: black;">Mariages</h5>
								<a class="btn btn-primary" href="{{path('app_mariages')}}" role="button">Voir</a>
							</div>
						</div>
						<div class="carousel-item">
							<img src="{{ asset('build/images/Naissance.jpg')}}" class="carousel-img d-block w-100" alt="maman et bébé">

							<div class="carousel-caption  d-md-block">
								<h5>Naissances</h5>
								<a class="btn btn-primary" href="{{path('app__evenement')}}" role="button">Voir</a>
							</div>
						</div>
						<div class="carousel-item">
							<img src="{{ asset('build/images/surf.jpg') }}" class=" carousel-img d-block w-100" alt="Surfeur">

							<div class="carousel-caption  d-md-block">
								<h5 style="color: black;">AquaShooting</h5>
								<a class="btn btn-primary" href="{{path('app_aqua_shooting')}}" role="button">Voir</a>

							</div>
						</div>
						<div class="carousel-item">
							<img src="{{ asset('build/images/Woman.jpg') }}" class=" carousel-img d-block w-100" alt="Femme nue">

							<div class="carousel-caption  d-md-block">
								<h5>Boudoir</h5>
								<a class="btn btn-primary" href="{{path('app_boudoir')}}" role="button">Voir</a>

							</div>
						</div>
						<div class="carousel-item">
							<img src="{{ asset('build/images/corporate.jpg') }}" class=" carousel-img d-block w-100" alt="Réunion d'entreprise">

							<div class="carousel-caption  d-md-block">
								<h5>Entreprises</h5>
								<a class="btn btn-primary" href="{{path('app_corporate')}}" role="button">Voir</a>

							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Précédent</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Suivant</span>
					</button>
				</div>
				
			</div>
			<hr>
			

			
			
		</section>

		<div class="d-flex justify-content-center py-3">
			<h2>Derniéres actualitées</h2>
		</div>

		<div class="listPost d-flex  flex-wrap align-items-center">
			{% if posts %}
				{% for post in posts %}
					<div class="container col-sm-6 col-lg-6">
						<div class="row m-5">
							<div class="card rounded m-auto shadow-lg  p-2">
								<img src="{{asset('upload/post/' ~ post.image)}}" class="card-img-top" alt="image de la carte">
								<div class="card-body">
									<h3 class="card-title">{{post.title}}</h3>
									<p class="card-text">{{post.content|u.truncate(100)}}</p>
									<a href="{{path('show_post',{'id': post.id})}}" class="btn btn-primary">Lire plus</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				{% else %}
					Il n'y à actuellement aucun article
			{% endif %}
		</div>
	</main>

{% endblock %}
