{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!
{% endblock %}

{% block body %}
	<div class="container col-sm-8 col-md-10">
		<h1>{{title}}</h1>
		<table class="table p-2">
			<thead class="table-dark">
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">Format</th>
					<th scope="col">Photo</th>
					<th scope="col">Prix</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for tirage in tirages %}
					<tr>
						<th scope="row">{{tirage.name}}</th>
						<td>{{tirage.format}}</td>
						<td><img src="{{ asset('/upload/images/' ~ tirage.photo.image)}}" alt="photo produit" width="65" height="38"></td>
						<td>{{(tirage.prix) /100}}€</td>
						<td><!---->
							<a class="add" href="{{ path('cart_add', {id: tirage.id}) }}">
								<button class="btn btn-primary basket">
									<i class="fas fa-cart-arrow-down"></i>
									<div class="count">0</div>
								</button>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</td>
	</tr>
</table>
<a href="{{path('cart')}}">
	<button class="btn btn-primary" >
		<i class="fas fa-shopping-basket"></i>
	</button>
</a>
{% endblock %}
